<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <article>
          <h2><%= bar.barName %></h2>
          <p>Walkability Score: <%= bar.walkabilityScore %>/100</p>
          <p>Crime Rate: <%= bar.crimeRate %>/100</p>
          <p>Age Requirement: <%= bar.ageRequirement %></p>
          <p>Population: <%= bar.population %> Million</p>
          <img src="<%= bar.drink.picture %>" alt="<%= bar.barName %>">
          <p><%= bar.drink.description %></p>
        </article>
        <div class="button-container">
          <a href="/bar" class="button">Back to All Bars</a>
          <a href="/bar/<%= bar._id %>/edit" class="button">Edit</a>
          <form action="/bar/<%= bar._id %>/?_method=DELETE" method="POST">
            <button type="submit" class="button">Delete Bar</button>
          </form>
        </div>
      </div>
      </main>
      </body>
      </html>
